

.ngPurpleClass {
  background: mediumpurple;
  color: darkblue;
  padding:20px;
  font-size: 14px;
  font-style: normal;
  font-family: Arial;
  color: purple;
  margin: 20px;
  text-align:center;
}
